@theme-button: ~"@{global-prefix}button";

.@{theme-button} {
  border:  @global-border;
  border-radius: @global-border-radius;
  text-shadow:@global-text-shadow;

  &-hover, &:hover {
    border-color: rgba(0, 0, 0, 0.16);
  }

  &:hover, &:focus {
    background-color: @global-background;
  }

  &-active, &:active {
    background-color: @global-default-active-background;
  }

  &-disable, &:disabled {
    box-shadow: none;
    text-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.06);
    cursor: default;
    background-color: @global-disabled-backgrould;
    color: @global-disabled-color;
  }

}